---
http_interactions:
- request:
    method: get
    uri: https://api.datausa.io/attrs/search/?kind=geo&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"autocorrected": false, "data": [["16000US0820000", "denver co", 9.50230549744445,
        "geo", "Denver, CO", "160", -1, "denver-co"], ["16000US4218888", "denver pa",
        -0.0618953968444553, "geo", "Denver, PA", "160", -1, "denver-pa"], ["16000US3717000",
        "denver nc", -0.0895902445075041, "geo", "Denver, NC", "160", -1, "denver-nc"],
        ["16000US1920035", "denver ia", -0.0926263106951645, "geo", "Denver, IA",
        "160", -1, "denver-ia"], ["16000US1817776", "denver in", -0.11162764200623,
        "geo",[...]
- request:
    method: get
    uri: https://api.datausa.io/api/?force=acs.yg&geo=16000US0820000&show=geo&sumlevel=place&year=latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {"data": [[2016, "16000US0820000", 34.4, 0.1, 693060, null, 0.0917944, 23.3029, 61105.0, 1439.0, 0.499988, 360900.0, 10521.0, 1, 364.0, 19.0, 236.0, 0.908206, 0.259311]], "headers": ["year", "geo", "age", "age_moe", "pop", "pop_moe", "non_us_citizens", "mean_commute_minutes", "income", "income_moe", "owner_occupied_housing_units", "median_property_value", "median_property_value_moe", "estimate", "age_rank", "pop_rank", "income_rank", "us_citizens", "non_eng_speakers_pct"],
                         "source": {"link": "http://www.census.gov/programs-surveys/acs/", "org": "Census Bureau", "table": "acs_1yr.yg", "supported_levels": {"geo": ["nation", "state", "county", "msa", "place", "all"]}, "dataset": "2016 ACS 1-year Estimate"},
                         "subs": {"force": "acs_1yr"},
                         "logic": [{"link": "http://www.census.gov/programs-surveys/acs/", "org": "Census Bureau", "table": "acs_1yr.yg", "supported_levels": {"geo": ["nation", "state", "county", "msa", "place", "all"]}, "dataset": "2016 ACS 1-year Estimate"}]
                }
  recorded_at: Tue, 16 Apr 2019 23:00:14 GMT
recorded_with: VCR 4.0.0
